h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.partB_btn {
  padding: 5px;
  background-color: forestgreen;
}

#main_div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: whitesmoke;
}
