h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.partA_btn {
  padding: 5px;
  background-color: darkslateblue;
}

#game-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

#board {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
}

.card {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  border: 2px solid white;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card.matched {
  background-color: green;
  cursor: default;
}

#timer {
  margin-top: 20px;
  font-size: 20px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: whitesmoke;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: white;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.hide {
  display: none;
}
